.first-screen{
  padding-top: 17.5vmin;
  padding-bottom: 9vmin;
  box-shadow: 0 2px 0 0 #F0F0F0;
  @media(max-width: 767px){
    padding-top: 100px;
  }
  &_negative-offset-right{
    margin-right: -8.333333%;
    @media(max-width: 767px){
      margin-right: 0;
    }
  }
  &_heading{
    margin-bottom: 3vmin;
    padding-top: 13vmin;
    @media(min-width: 990px) and (max-width: 1289px){
      font-size: 48px;
    }
  }
  &_text{
    margin-bottom: 10.5vmin;
  }
}

