.footer-form{
  padding-top: 13vmin;
  padding-bottom: 10vmin;
  box-shadow: 0 2px 0 0 #F0F0F0;
  &_heading{
    text-align: center;
    margin-bottom: 3vmin;
  }
  &_socials{
    display: flex;
    justify-content: space-around;
    margin-top: 5vmin;
    @media(max-width: 767px){
      margin-top: 12vmin;
    }
  }
  &_social-link{
    svg{
      path{
        fill: #291842;
        transition: .3s;
      }
    }
    &:hover{
      svg{
        path{
          fill: #00d5b1;
        }
      }
    }
  }
}