.info-section{
  padding: 8vmin 0;
  &_text-block{
    background-color: #F5F5F7;
    padding: 6vmin 9vmin 6vmin 5vmin;
  }
  &_text-wrap{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  &_image-block{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    img{
      width: 100%;
    }
  }
  &_negative-offset-right{
    margin-right: -8.3333%;
    @media(max-width: 767px){
      margin-right: 0;
    }
  }
  &_negative-offset-left{
    margin-left: -8.3333%;
    @media(max-width: 767px){
      margin-left: 0;
    }
  }
  &_mobile-order{
    @media(max-width: 767px){
      display: flex;
      flex-direction: column;
      &_1{
        order: 1;
        flex: auto;
      }
      &_2{
        order: 2;
        flex: auto;
      }
    }
  }
  &_heading{
    margin-bottom: 30px;
  }
  &_text{
    font-size: 24px;
    line-height: 1.75;
    color: #888198;
    margin-bottom: 3vmin;
    @media(max-width: 1299px){
      font-size: 18px;
    }
    @media(max-width: 991px){
      font-size: 16px;
    }
  }
}