.advisors-and-investors{
  margin-top: 9vmin;
  &_heading{
    text-align: center;
    margin-bottom: 6vmin;
  }
  &_advisors{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &_advisor{
    display: flex;
    justify-content: space-between;
    width: calc(50% - 15px);
    background-color: #F5F5F7;
    padding: 3vmin;
    margin-bottom: 30px;
    @media(max-width: 989px){
      width: 100%;
    }
    &_left{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90px;
    }
    &_right{
      width: calc(100% - 90px);
      padding-left: 15px;
    }
    &_photo{
      min-width: 90px;
      max-width: 90px;
      margin-bottom: 15px;
    }
    &_name{
      color: #58585F;
      margin-bottom: 5px;
    }
    &_description{
      color: #58585F;
      font-size: 15px;
      line-height: 1.4;
      margin-bottom: 15px;
    }
  }
  &_investors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8EBED;
    padding: 6vmin 3vmin;
    &_investor{
      margin-bottom: 4.5vmin;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}