.team-member{
  &_info{
    display: flex;
    background-color: #F5F5F7;
    margin-bottom: 15px;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &_image-wrap{
    width: 25%;
    text-align: center;
    background-color: #E8EBED;
    padding: 6vmin;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &_photo{
    margin-bottom: 15px;
  }
  &_name{
    text-align: center;
    margin-bottom: 5px;
  }
  &_position{
    text-align: center;
  }
  &_description-wrap{
    width: 50%;
    padding: 6vmin 3vmin 3vmin 6vmin;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &_description{
    color: #58585F;
    margin-bottom: 3vmin;
  }
  &_education{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6vmin;
    padding-right: 8.5vmin;
    padding-bottom: 3vmin;
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
      padding: 15px;
    }
    &-image{
      margin-bottom: 3vmin;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}