.how-we-work {
  margin-bottom: 9vmin;
  &_image {
    margin-bottom: 6vmin;
  }
  &_heading{
    margin-bottom: 3vmin;
    @media(max-width: 767px){
      text-align: center;
    }
  }
  &_text{
    margin-bottom: 3vmin;
  }
}