.offices {
  &_heading {
    text-align: center;
    margin-bottom: 6vmin;
  }
  &_images{
    display: flex;
    flex-wrap: wrap;
  }
  &_image{
    display: flex;
    &__1{
      width: 66.66666%;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 15px;
      padding-bottom: 15px;
      @media(max-width: 767px){
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px 0;
      }
    }
    &__2{
      width: 33.33333%;
      justify-content: flex-start;
      align-items: flex-end;
      padding-left: 15px;
      padding-bottom: 15px;
      @media(max-width: 767px){
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px 0;
      }
    }
    &__3{
      width: 50%;
      justify-content: flex-end;
      align-items: flex-start;
      padding-top: 15px;
      padding-right: 15px;
      @media(max-width: 767px){
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px 0;
      }
    }
    &__4{
      width: 50%;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 15px;
      padding-left: 15px;
      @media(max-width: 767px){
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px 0;
      }
    }
  }
}