.positions{
  margin-bottom: 9vmin;
  &_heading{
    text-align: center;
    margin-bottom: 9vmin;
  }
  &_position{
    background-color: #F5F5F7;
    padding: 6vmin;
  }
  &_name{
    margin-bottom: 15px;
  }
}