*{
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: AvertaDemo, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #58585f;
  @media (max-width: 989px){
    font-size: 16px;
  }
}

input, button {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

button {
  cursor: pointer;
}


.h2 {
  font-family: TiemposHeadline, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.5;
  color: #291842;
  @media (max-width: 989px){
    font-size: 36px;
  }
}

.h3 {
  font-family: TiemposHeadline, sans-serif;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.33;
  color: #291842;
  @media (max-width: 989px){
    font-size: 26px;
  }
}

.h4 {
  font-size: 27px;
  line-height: 1.56;
  color: #30313f;
  @media (max-width: 989px){
    font-size: 18px;
  }
}

.h5 {
  font-family: TiemposHeadline, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: #58585f;
  @media (max-width: 989px){
    font-size: 16px;
  }
}
.h6{
  color: #58585F;
  font-family: "Averta Demo", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  @media (max-width: 989px){
    font-size: 14px;
  }
}

.container{
  @media (max-width: 989px){
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}

.navbar{
  background: transparent;
}
.subscribe-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_input {
    width: 100%;
    height: 44px;
    border-radius: 3px;
    background-color: #F5F5F7;
    border: solid 1px #F5F5F7;
    padding: 10px;
    margin-right: 30px;
    @media (max-width: 989px){
      height: 36px;
      margin-right: 10px;
    }
  }
  &_button {
    color: #ffffff;
    white-space: nowrap;
    padding: 10px 33px;
    border: 1px solid $green;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: $green;
    transition: .5s;
    @media (max-width: 989px){
      padding: 5px 15px;
    }
    &:hover{
      background: #E5FAF7;
      border-color: $green;
      color: #000;
    }
  }
}

.link {
  font-family: Apercuru, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  position: relative;
  outline: none;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: transparent;
  }
  &__green {
    color: $green;
    &::after{
      background:#E5FAF7;
    }
  }
  &__darkgrey{
    color: #b5acaa;
    &::after{
      background: #b5acaa;
    }
  }
}