.footer {
  padding-top: 6vmin;
  &_copyright {
    text-align: center;
    color: #888198;
    white-space: nowrap;
    margin-bottom: 6vmin;
  }
  &_important-disclaimer {
    background-color: #F0F0F0;
    padding: 3vmin 0;
    &_heading {
      color: #888198;
      font-family: AvertaDemo, sans-serif;
      font-weight: normal;
      text-align: center;
      margin-bottom: 15px;
    }
    &_text {
      color: #888198;
      font-size: 12px;
      line-height: 1.5;
      text-align: center;
    }
  }
}