/*HEADER*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 25px 0 0;
  transition: .5s;
  @media (max-width: 989px) {
    background: white;
    padding: 15px 15px 0;
  }
  &_menu {
    @media (max-width: 989px) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }
    &_item {
      font-size: 15px;
      line-height: 1.67;
      color: #2c2c2f;
      background: transparent !important;
      padding: 7px 15px;
      margin-right: 15px;
      @media (max-width: 989px) {
        padding: 5px 10px;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: rgba(88, 88, 95, 0.6) !important;
      }
      &_login {
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.09) !important;
      }
    }
  }
  .navbar-burger {
    overflow: hidden;
    &__opened {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 26px!important;
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
          top: 26px!important;
        }
        &:nth-child(3) {
          right: -100%;
        }
      }
    }
    &:hover {
      background: transparent;
      span {
        &:nth-child(3) {
          width: 33px;
        }
      }
    }
    span {
      height: 2px;
      left: auto;
      right: calc(50% - 12px);
      width: 33px;
      transition: .5s;
      &:nth-child(1) {
        top: calc(50% - 8px);
      }
      &:nth-child(2) {
        top: calc(50%);
      }
      &:nth-child(3) {
        top: calc(50% + 8px);
        width: 22px;
      }
    }
  }
  .navbar-brand, .navbar{
    min-height: unset;
    margin-left: 0!important;
  }
  .navbar-menu {
    @media (max-width: 989px) {
      padding-top: 15px;
      padding-bottom: 15px;
      box-shadow: none;
    }
  }
  .navbar {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    &-brand{
      align-items: center;
    }
  }
  &__sticky {
    background: white;
    &__show {
      top: 0;
    }
    &__hide {
      top: -110px;
      @media (max-width: 989px) {
        top: -80px;
      }
    }
  }
}

/*HEADER END*/