.first-screen{
  padding-top: 17vmin;
  padding-bottom: 17vmin;
  box-shadow: 0 2px 0 0 #F0F0F0;
  margin-bottom: -9vmin;
  @media(max-width: 989px) {
    padding-top: 120px;
  }
  &_heading{
    text-align: center;
  }
  &_text{
    display: block;
    max-width: 560px;
    color: #888198;
    text-align: center;
    margin: 0 auto;
  }
}