.project {
  border: 2px solid #F5F5F7;
  padding-top: 6vmin;
  padding-bottom: 6vmin;
  margin-bottom: 6vmin;
  background: white;
  @media(max-width: 989px) {
    width: calc(100% - 30px);
    margin: 0 15px 6vmin;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &_heading {
    text-align: center;
    margin-bottom: 3vmin;
  }
  &_text {
    color: #888198;
    text-align: center;
    margin-bottom: 6vmin;
  }
  &_name {
    margin-bottom: auto;
    @media(max-width: 1299px) and (min-width: 990px){
      font-size: 30px;
    }
    @media(max-width: 989px) {
      margin-bottom: 3vmin;
    }
  }
  &_image {
    max-width: 100%;
    position: absolute;
    top: -30px;
    right: calc(100% - 60px);
    z-index: 1;
    @media(max-width: 989px) {
      max-width: calc(50% - 15px);
      position: static;
      margin-right: 30px;
    }
    @media(max-width: 767px) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 3vmin;
    }
  }
  &_links{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &_link-wrap {
    position: relative;
    width: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    @media(max-width: 989px) {
      width: calc(50% - 30px);
    }
    @media(max-width: 767px) {
      width: 100%;
    }
    &:first-child{
      margin-left: calc(33.333333% + 15px);
      @media(max-width: 989px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 30px);
        margin-left: 15px;
      }
      @media(max-width: 767px) {
        display: block;
      }
    }

  }
  &_link-block {
    text-align: center;
    position: relative;
    z-index: 2;
    height: 218px;
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 247, 0.9);
    padding: 3vmin;
    @media(max-width: 989px){
      height: auto;
      flex: auto;
    }
  }
}